<div class="center jumbotron">
  <h1> Welcome to House Selling & Buying </h1>
  <h2> You can sell and buy houses in this tracking system! </h2>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
