<% provide(:title, @company.Name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="company_info">
      <h1>
        <%= @company.Name %>
		<%= @company.Website %>
      </h1>
    </section>
  </aside>
</div>
